On ne me laisse pas entrer par la porte? j'entre par la fenetre

  {% for album in albums %}
      <div class="col-sm-4 text-center">
          <a href="{% url 'store:detail' album_id=album.id %}">
            <img class="img-responsive" src="{{ album.picture }}" alt="{{ album.title }}">
          </a>
          <h3><a href="{% url 'store:detail' album_id=album.id %}">{{ album.title }}</a></h3>
          {% for artist in album.artists.all %}
              <p>{{ artist.name }}</p>
          {% endfor %}
      </div>
      {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
  {% endfor %}
